p {

    color:red;
    font-size:16px;
}

h2 {
    color:green;
    font-weight:bold;
}

table,td,th {
    border-style: solid;
    border-color:red;
    border-width: 3px;
    border-collapse: collapse;
} /* Makes all tables border color red*/

p#special-one {
    color:blue;
    font-weight: bold;
} /* Can only be used one time on one paragraph*/
div h3 {
    color:orange; /* Makes headers on level 3 orange*/
}

.cssruleblock {
    height:100px;
    width:100px
}