<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cuisines</title>
</head>
<body>
   <p><a href="/hello">Welcome</a></p>
<h1> Cuisines</h1>
<h2> Italian Food</h2> <!--h2 means this is a header at level 2-->
<p> Popular <strong>italian</strong> food items are <em>pasta, pizza, and chicken cutlets.</em></p>
<p> My favorite Italian dishes are: </p>
<ul> <!--ul is an unordered list-->
    <li> Bolognese</li>
    <li> Margherita Pizza</li>
    <li> Beef Lasagna </li>
</ul>

<h2> Chinese Food</h2>
<p> Popular <strong>chinese</strong> food are <em>egg rolls, wonton soup, and beef and broccoli.</em></p>
<p> My favorite Chinese dishes are: </p>
<ol> <!--ol is an ordered list-->
    <li> Chow Mein</li>
    <li> Kung Pao Chicken</li>
    <li> Spring Rolls</li>
</ol>
   <h3>My College:</h3>
   <img src="https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" width="267" height="72" alt="Smith Logo">
<h4> Classes that Taught Me About Cuisine</h4>
<table>
    <tr>
        <th>Course</th>
        <th>Semester</th>

    </tr>
    <tr>
        <td>BMGT302</td>
        <td>Fall 2023</td>
    </tr>

    <tr>
        <td>BMGT402</td>
        <td>Spring 2023</td>

    </tr>
       <tr>
        <td>BMGT403</td>
        <td>Fall 2024</td>
    </tr>
    </table>

    <h5> Check out some of my favorite pages about cuisine: </h5>
   <ul>
    <li><a href=https://www.bonappetit.com/recipes/slideshow/classic-italian-recipes>Italian Dishes</a></li>
    <li><a href="https://www.purewow.com/food/traditional-chinese-food" target=_blank>Chinese Dishes</a></li>
   </ul>
</body>
</html>
